<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LevelChefApplication"
        android:allowBackup="true"
        android:label="LevelChef"
        android:theme="@style/Theme.LevelChef">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LevelChef">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Lets AppCompat persist the in-app language (AppCompatDelegate.setApplicationLocales)
             across process restarts on API < 33. -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>
</manifest>
